body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
}

form {
    width: 60%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

fieldset {
    border: none;
    margin-bottom: 20px;
}

legend {
    font-weight: bold;
    font-size: 1.2em;
    color: #ff69b4; /* Pink color */
}

label {
    display: inline-block;
    width: 120px;
    font-weight: bold;
    color: #ff69b4; /* Pink color */
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
    width: calc(100% - 130px);
    padding: 8px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: 0.2s;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus,
select:focus {
    border-color: #ff69b4; /* Pink color */
}

button[type="submit"],
button[type="reset"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #ff69b4; /* Pink color */
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover,
button[type="reset"]:hover {
    background-color: #ff1493; /* Darker pink color on hover */
}

.errorInput {
    color: #ff0000; /* Red color for error messages */
}
